body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3970 {
  position:absolute;
  left:41px;
  top:87px;
  width:105px;
  height:305px;
}
#u3970_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3972 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u3973 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u3974 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3975 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3975_img.selected {
}
#u3975.selected {
}
#u3976 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3978 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3974_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3979 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3980 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3981 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3982 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3983 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3984 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3985 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3986 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3987 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3988 {
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:20px;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3989 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3989_img.selected {
}
#u3989.selected {
}
#u3990 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3992 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3988_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3993 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3994 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3995 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3996 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3998 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3999 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4000 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4001 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4002 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4003 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4004 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4005 {
  position:absolute;
  left:0px;
  top:200px;
  width:80px;
  height:20px;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4006 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4006_img.selected {
}
#u4006.selected {
}
#u4007 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4008 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4009 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4005_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4010 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4011 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4012 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4013 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4014 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4015 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4016 {
  position:absolute;
  left:0px;
  top:260px;
  width:80px;
  height:20px;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4017 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4017_img.selected {
}
#u4017.selected {
}
#u4018 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4019 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4020 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4016_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4021 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4022 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4023 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:23px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:1px;
  width:173px;
  height:60px;
}
#u4028 {
  position:absolute;
  left:2px;
  top:22px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u4029 {
  position:absolute;
  left:895px;
  top:11px;
  width:62px;
  height:41px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u4031 {
  position:absolute;
  left:968px;
  top:11px;
  width:62px;
  height:41px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u4033 {
  position:absolute;
  left:1050px;
  top:11px;
  width:62px;
  height:41px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u4035 {
  position:absolute;
  left:1104px;
  top:24px;
  width:19px;
  height:15px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4037 {
  position:absolute;
  left:1013px;
  top:17px;
  width:17px;
  height:17px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4039 {
  position:absolute;
  left:939px;
  top:17px;
  width:17px;
  height:17px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u4041 {
  position:absolute;
  left:186px;
  top:15px;
  width:82px;
  height:41px;
  color:#0066FF;
}
#u4042 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4043 {
  position:absolute;
  left:200px;
  top:241px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4044 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4045 {
  position:absolute;
  left:311px;
  top:241px;
  width:400px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4046 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4047 {
  position:absolute;
  left:721px;
  top:241px;
  width:30px;
  height:40px;
  color:#FF0000;
}
#u4048 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4049 {
  position:absolute;
  left:200px;
  top:354px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4050 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4051 {
  position:absolute;
  left:311px;
  top:354px;
  width:400px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4052 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4053 {
  position:absolute;
  left:200px;
  top:467px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4054 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4055 {
  position:absolute;
  left:311px;
  top:467px;
  width:400px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4056 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4057 {
  position:absolute;
  left:200px;
  top:634px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4058 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4059 {
  position:absolute;
  left:200px;
  top:744px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4060 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:276px;
  top:898px;
  width:68px;
  height:45px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4063 {
  position:absolute;
  left:363px;
  top:898px;
  width:68px;
  height:45px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4065 {
  position:absolute;
  left:200px;
  top:297px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4066 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4067 {
  position:absolute;
  left:311px;
  top:297px;
  width:400px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4068 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4069 {
  position:absolute;
  left:200px;
  top:411px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4070 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4071 {
  position:absolute;
  left:311px;
  top:411px;
  width:400px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4072 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4073 {
  position:absolute;
  left:200px;
  top:522px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4074 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4075 {
  position:absolute;
  left:311px;
  top:522px;
  width:400px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4076 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
  background:inherit;
  background-color:rgba(77, 56, 105, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u4077 {
  position:absolute;
  left:200px;
  top:72px;
  width:1000px;
  height:48px;
  color:#FFFFFF;
  text-align:left;
}
#u4078 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4079 {
  position:absolute;
  left:197px;
  top:130px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4080 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4081 {
  position:absolute;
  left:311px;
  top:120px;
  width:116px;
  height:116px;
}
#u4082 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083 {
  position:absolute;
  left:449px;
  top:191px;
  width:87px;
  height:25px;
}
#u4083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4084 {
  position:absolute;
  left:311px;
  top:271px;
  visibility:hidden;
}
#u4084_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4084_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:372px;
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:372px;
}
#u4086 {
  position:absolute;
  left:2px;
  top:178px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087 {
  position:absolute;
  left:542px;
  top:321px;
  width:130px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4088 {
  position:absolute;
  left:633px;
  top:0px;
  width:39px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4089 {
  position:absolute;
  left:721px;
  top:297px;
  width:30px;
  height:40px;
  color:#FF0000;
}
#u4090 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  word-wrap:break-word;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4091 {
  position:absolute;
  left:200px;
  top:576px;
  width:88px;
  height:40px;
  text-align:right;
}
#u4092 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4093 {
  position:absolute;
  left:311px;
  top:576px;
  width:400px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4094 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4095 {
  position:absolute;
  left:721px;
  top:411px;
  width:30px;
  height:40px;
  color:#FF0000;
}
#u4096 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  word-wrap:break-word;
}
#u4097 {
  position:absolute;
  left:311px;
  top:646px;
  width:100px;
  height:16px;
}
#u4098 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4097_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4099 {
  position:absolute;
  left:311px;
  top:646px;
  width:50px;
  height:16px;
}
#u4100 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4101 {
  position:absolute;
  left:388px;
  top:647px;
  width:50px;
  height:16px;
}
#u4102 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4103 {
  position:absolute;
  left:468px;
  top:646px;
  width:89px;
  height:16px;
}
#u4104 {
  position:absolute;
  left:16px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u4103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4105 {
  position:absolute;
  left:569px;
  top:646px;
  width:50px;
  height:16px;
}
#u4106 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4107 {
  position:absolute;
  left:633px;
  top:646px;
  width:50px;
  height:16px;
}
#u4108 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4109 {
  position:absolute;
  left:311px;
  top:685px;
  width:50px;
  height:16px;
}
#u4110 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4111 {
  position:absolute;
  left:388px;
  top:685px;
  width:50px;
  height:16px;
}
#u4112 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4113 {
  position:absolute;
  left:468px;
  top:685px;
  width:50px;
  height:16px;
}
#u4114 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4113_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4115 {
  position:absolute;
  left:544px;
  top:685px;
  width:76px;
  height:16px;
}
#u4116 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u4115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4117 {
  position:absolute;
  left:643px;
  top:685px;
  width:76px;
  height:16px;
}
#u4118 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u4117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4119 {
  position:absolute;
  left:311px;
  top:723px;
  width:58px;
  height:16px;
}
#u4120 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u4119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4121 {
  position:absolute;
  left:388px;
  top:723px;
  width:58px;
  height:16px;
}
#u4122 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u4121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4123 {
  position:absolute;
  left:468px;
  top:723px;
  width:58px;
  height:16px;
}
#u4124 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u4123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4125 {
  position:absolute;
  left:544px;
  top:723px;
  width:58px;
  height:16px;
}
#u4126 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u4125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:1px;
}
#u4127 {
  position:absolute;
  left:593px;
  top:738px;
  width:109px;
  height:1px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129 {
  position:absolute;
  left:311px;
  top:756px;
  width:80px;
  height:16px;
}
#u4130 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4131 {
  position:absolute;
  left:404px;
  top:756px;
  width:80px;
  height:16px;
}
#u4132 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4133 {
  position:absolute;
  left:501px;
  top:756px;
  width:80px;
  height:16px;
}
#u4134 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4135 {
  position:absolute;
  left:601px;
  top:756px;
  width:99px;
  height:16px;
}
#u4136 {
  position:absolute;
  left:16px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4137 {
  position:absolute;
  left:311px;
  top:792px;
  width:80px;
  height:16px;
}
#u4138 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4139 {
  position:absolute;
  left:404px;
  top:792px;
  width:87px;
  height:16px;
}
#u4140 {
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4141 {
  position:absolute;
  left:501px;
  top:792px;
  width:90px;
  height:16px;
}
#u4142 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u4141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4143 {
  position:absolute;
  left:601px;
  top:792px;
  width:99px;
  height:16px;
}
#u4144 {
  position:absolute;
  left:16px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4145 {
  position:absolute;
  left:311px;
  top:829px;
  width:80px;
  height:16px;
}
#u4146 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4147 {
  position:absolute;
  left:404px;
  top:829px;
  width:87px;
  height:16px;
}
#u4148 {
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4149 {
  position:absolute;
  left:501px;
  top:829px;
  width:90px;
  height:16px;
}
#u4150 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u4149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
