body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3834 {
  position:absolute;
  left:41px;
  top:87px;
  width:105px;
  height:305px;
}
#u3834_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3835 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3836 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u3837 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u3838 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
}
#u3839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3839 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3839_img.selected {
}
#u3839.selected {
}
#u3840 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3841 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3842 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3838_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3843 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3844 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3845 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3846 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3847 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3848 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3849 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3851 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3852 {
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:20px;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3853 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3853_img.selected {
}
#u3853.selected {
}
#u3854 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3855 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3856 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3852_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3857 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3858 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3859 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3860 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3861 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3862 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3863 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3864 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3865 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3866 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3867 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3868 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3869 {
  position:absolute;
  left:0px;
  top:200px;
  width:80px;
  height:20px;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3870 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3870_img.selected {
}
#u3870.selected {
}
#u3871 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3872 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3873 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3869_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3874 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3875 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3876 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3877 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3878 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3879 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3880 {
  position:absolute;
  left:0px;
  top:260px;
  width:80px;
  height:20px;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3881 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3881_img.selected {
}
#u3881.selected {
}
#u3882 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3883 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3884 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3880_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3885 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3886 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3887 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3889 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:23px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:1px;
  width:173px;
  height:60px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:22px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u3893 {
  position:absolute;
  left:895px;
  top:11px;
  width:62px;
  height:41px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u3895 {
  position:absolute;
  left:968px;
  top:11px;
  width:62px;
  height:41px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u3897 {
  position:absolute;
  left:1050px;
  top:11px;
  width:62px;
  height:41px;
}
#u3898 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u3899 {
  position:absolute;
  left:1104px;
  top:24px;
  width:19px;
  height:15px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3901 {
  position:absolute;
  left:1013px;
  top:17px;
  width:17px;
  height:17px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3903 {
  position:absolute;
  left:939px;
  top:17px;
  width:17px;
  height:17px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u3905 {
  position:absolute;
  left:186px;
  top:15px;
  width:82px;
  height:41px;
  color:#0066FF;
}
#u3906 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
  background:inherit;
  background-color:rgba(77, 56, 105, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u3907 {
  position:absolute;
  left:200px;
  top:72px;
  width:1000px;
  height:48px;
  color:#FFFFFF;
  text-align:left;
}
#u3908 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3910 {
  position:absolute;
  left:200px;
  top:131px;
  width:53px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3911 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3912 {
  position:absolute;
  left:256px;
  top:131px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3913 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3914 {
  position:absolute;
  left:534px;
  top:131px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3915 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3916 {
  position:absolute;
  left:937px;
  top:131px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3917 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u3918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3918 {
  position:absolute;
  left:1084px;
  top:131px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3919 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1px;
}
#u3920 {
  position:absolute;
  left:200px;
  top:166px;
  width:1000px;
  height:1px;
}
#u3921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3922 {
  position:absolute;
  left:693px;
  top:131px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3923 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3924 {
  position:absolute;
  left:810px;
  top:131px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3925 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3926 {
  position:absolute;
  left:373px;
  top:131px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3927 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
.u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(135, 184, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3929 {
  position:absolute;
  left:880px;
  top:85px;
  width:48px;
  height:30px;
}
.u3930 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
.u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(209, 91, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3931 {
  position:absolute;
  left:934px;
  top:85px;
  width:48px;
  height:30px;
}
.u3932 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
.u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3933 {
  position:absolute;
  left:0px;
  top:80px;
  width:44px;
  height:40px;
}
.u3934 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
.u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3935 {
  position:absolute;
  left:58px;
  top:80px;
  width:95px;
  height:40px;
  text-align:left;
}
.u3936 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
.u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3937 {
  position:absolute;
  left:179px;
  top:80px;
  width:83px;
  height:40px;
  text-align:left;
}
.u3938 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
.u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(135, 184, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3939 {
  position:absolute;
  left:880px;
  top:27px;
  width:48px;
  height:30px;
}
.u3940 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
.u3941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(209, 91, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3941 {
  position:absolute;
  left:934px;
  top:27px;
  width:48px;
  height:30px;
}
.u3942 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
.u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3943 {
  position:absolute;
  left:0px;
  top:22px;
  width:44px;
  height:40px;
}
.u3944 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
.u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3945 {
  position:absolute;
  left:63px;
  top:22px;
  width:86px;
  height:40px;
  text-align:left;
}
.u3946 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
.u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3947 {
  position:absolute;
  left:181px;
  top:22px;
  width:74px;
  height:40px;
  text-align:left;
}
.u3948 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
.u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3949 {
  position:absolute;
  left:510px;
  top:22px;
  width:70px;
  height:40px;
  text-align:left;
}
.u3950 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
.u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3951 {
  position:absolute;
  left:302px;
  top:22px;
  width:170px;
  height:40px;
  text-align:left;
}
.u3952 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
.u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3953 {
  position:absolute;
  left:706px;
  top:23px;
  width:149px;
  height:40px;
  text-align:left;
}
.u3954 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
.u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3955 {
  position:absolute;
  left:302px;
  top:81px;
  width:170px;
  height:40px;
  text-align:left;
}
.u3956 {
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
.u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3957 {
  position:absolute;
  left:713px;
  top:80px;
  width:133px;
  height:40px;
  text-align:left;
}
.u3958 {
  position:absolute;
  left:2px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
.u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3959 {
  position:absolute;
  left:627px;
  top:22px;
  width:70px;
  height:40px;
  text-align:left;
}
.u3960 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
.u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3961 {
  position:absolute;
  left:510px;
  top:80px;
  width:70px;
  height:40px;
  text-align:left;
}
.u3962 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
.u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3963 {
  position:absolute;
  left:627px;
  top:80px;
  width:70px;
  height:40px;
  text-align:left;
}
.u3964 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u3928-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:121px;
}
#u3928-2 {
  position:absolute;
  left:0px;
  top:121px;
  width:982px;
  height:121px;
}
#u3928-3 {
  position:absolute;
  left:0px;
  top:242px;
  width:982px;
  height:121px;
}
#u3928 {
  position:absolute;
  left:200px;
  top:167px;
  width:982px;
  height:363px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:31px;
}
#u3965 {
  position:absolute;
  left:325px;
  top:577px;
  width:551px;
  height:31px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:8px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:1095px;
  top:82px;
  width:72px;
  height:30px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
