body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12831 {
  position:absolute;
  left:200px;
  top:120px;
  width:80px;
  height:40px;
}
#u12831_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12831.selected {
}
#u12832 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12833 {
  position:absolute;
  left:280px;
  top:120px;
  width:89px;
  height:40px;
}
#u12833_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12833.selected {
}
#u12834 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u12835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12835 {
  position:absolute;
  left:547px;
  top:120px;
  width:653px;
  height:40px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:12px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
  background:inherit;
  background-color:rgba(77, 56, 105, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u12837 {
  position:absolute;
  left:200px;
  top:72px;
  width:1000px;
  height:48px;
  color:#FFFFFF;
  text-align:left;
}
#u12838 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u12839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12839 {
  position:absolute;
  left:369px;
  top:120px;
  width:89px;
  height:40px;
}
#u12839_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12839.selected {
}
#u12840 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u12841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12841 {
  position:absolute;
  left:458px;
  top:120px;
  width:89px;
  height:40px;
}
#u12841_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12841.selected {
}
#u12842 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u12844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12844 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u12845 {
  position:absolute;
  left:2px;
  top:23px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
}
#u12846 {
  position:absolute;
  left:0px;
  top:1px;
  width:173px;
  height:60px;
}
#u12847 {
  position:absolute;
  left:2px;
  top:22px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u12848 {
  position:absolute;
  left:895px;
  top:11px;
  width:62px;
  height:41px;
}
#u12849 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u12850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u12850 {
  position:absolute;
  left:968px;
  top:11px;
  width:62px;
  height:41px;
}
#u12851 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u12852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u12852 {
  position:absolute;
  left:1050px;
  top:11px;
  width:62px;
  height:41px;
}
#u12853 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u12854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u12854 {
  position:absolute;
  left:1104px;
  top:24px;
  width:19px;
  height:15px;
}
#u12855 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12856 {
  position:absolute;
  left:1013px;
  top:17px;
  width:17px;
  height:17px;
}
#u12857 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u12858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12858 {
  position:absolute;
  left:939px;
  top:17px;
  width:17px;
  height:17px;
}
#u12859 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u12860 {
  position:absolute;
  left:194px;
  top:18px;
  width:176px;
  height:32px;
}
#u12860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12860_input:disabled {
  color:grayText;
}
#u12861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u12861 {
  position:absolute;
  left:378px;
  top:14px;
  width:90px;
  height:41px;
  color:#0066FF;
}
#u12862 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u12864 {
  position:absolute;
  left:41px;
  top:87px;
  width:120px;
  height:445px;
}
#u12864_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12865 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u12866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12866 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u12867 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12868 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
}
#u12869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12869 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12869_img.selected {
}
#u12869.selected {
}
#u12870 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12871 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12872 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12868_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12873 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u12874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12874 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12875 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12876 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u12877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12877 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12878 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12879 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u12880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12880 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12881 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12882 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u12883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12883 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12884 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12885 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u12886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12886 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12887 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12888 {
  position:absolute;
  left:20px;
  top:120px;
  width:80px;
  height:20px;
}
#u12889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12889 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12890 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12891 {
  position:absolute;
  left:0px;
  top:160px;
  width:80px;
  height:20px;
}
#u12892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12892 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12892_img.selected {
}
#u12892.selected {
}
#u12893 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12894 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12895 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12891_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12896 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u12897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12897 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12898 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12899 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u12900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12900 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u12901 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u12902 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u12903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12903 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12904 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12905 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u12906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12906 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12907 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12908 {
  position:absolute;
  left:0px;
  top:260px;
  width:80px;
  height:20px;
}
#u12909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12909 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12910 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12911 {
  position:absolute;
  left:0px;
  top:280px;
  width:80px;
  height:20px;
}
#u12912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12912 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12913 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12914 {
  position:absolute;
  left:0px;
  top:300px;
  width:80px;
  height:20px;
}
#u12915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12915 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12916 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12917 {
  position:absolute;
  left:0px;
  top:320px;
  width:80px;
  height:20px;
}
#u12918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12918 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12919 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12920 {
  position:absolute;
  left:0px;
  top:340px;
  width:80px;
  height:20px;
}
#u12921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12921 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12921_img.selected {
}
#u12921.selected {
}
#u12922 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12923 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12924 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12920_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12925 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u12926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12926 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12927 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12928 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u12929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12929 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12930 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12931 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u12932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12932 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u12933 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12934 {
  position:absolute;
  left:20px;
  top:80px;
  width:95px;
  height:20px;
}
#u12935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12935 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u12936 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u12937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12938 {
  position:absolute;
  left:200px;
  top:164px;
  width:1000px;
  height:54px;
}
#u12939 {
  position:absolute;
  left:2px;
  top:19px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12940 {
  position:absolute;
  left:200px;
  top:171px;
  width:72px;
  height:40px;
  text-align:right;
}
#u12941 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u12942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12942 {
  position:absolute;
  left:268px;
  top:171px;
  width:124px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12943 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12944 {
  position:absolute;
  left:894px;
  top:176px;
  width:68px;
  height:30px;
}
#u12945 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u12946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12946 {
  position:absolute;
  left:563px;
  top:171px;
  width:69px;
  height:40px;
  text-align:right;
}
#u12947 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12948 {
  position:absolute;
  left:637px;
  top:171px;
  width:71px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12949 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12950 {
  position:absolute;
  left:392px;
  top:171px;
  width:72px;
  height:40px;
  text-align:right;
}
#u12951 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u12952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12952 {
  position:absolute;
  left:460px;
  top:171px;
  width:93px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12953 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12954 {
  position:absolute;
  left:718px;
  top:171px;
  width:69px;
  height:40px;
  text-align:right;
}
#u12955 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12956 {
  position:absolute;
  left:792px;
  top:171px;
  width:92px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u12957 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(135, 184, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12958 {
  position:absolute;
  left:1073px;
  top:176px;
  width:68px;
  height:30px;
}
#u12959 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u12960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12961 {
  position:absolute;
  left:200px;
  top:226px;
  width:53px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12962 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u12963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12963 {
  position:absolute;
  left:296px;
  top:226px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12964 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u12965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12965 {
  position:absolute;
  left:689px;
  top:228px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12966 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u12967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12967 {
  position:absolute;
  left:857px;
  top:228px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12968 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u12969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12969 {
  position:absolute;
  left:1054px;
  top:226px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12970 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u12971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1px;
}
#u12971 {
  position:absolute;
  left:200px;
  top:261px;
  width:1000px;
  height:1px;
}
#u12972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12973 {
  position:absolute;
  left:495px;
  top:228px;
  width:87px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12974 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
.u12976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12976 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
.u12977 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
.u12978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12978 {
  position:absolute;
  left:120px;
  top:0px;
  width:173px;
  height:40px;
  text-align:left;
}
.u12979 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
.u12980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12980 {
  position:absolute;
  left:311px;
  top:0px;
  width:110px;
  height:40px;
  text-align:left;
}
.u12981 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
.u12982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12982 {
  position:absolute;
  left:509px;
  top:0px;
  width:98px;
  height:40px;
  text-align:left;
}
.u12983 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
.u12984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12984 {
  position:absolute;
  left:673px;
  top:0px;
  width:129px;
  height:40px;
  text-align:left;
}
.u12985 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
.u12986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(135, 184, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12986 {
  position:absolute;
  left:844px;
  top:5px;
  width:48px;
  height:30px;
}
.u12987 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
.u12988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12988 {
  position:absolute;
  left:0px;
  top:40px;
  width:44px;
  height:40px;
}
.u12989 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
.u12990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12990 {
  position:absolute;
  left:120px;
  top:40px;
  width:164px;
  height:40px;
  text-align:left;
}
.u12991 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
.u12992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12992 {
  position:absolute;
  left:312px;
  top:40px;
  width:72px;
  height:40px;
  text-align:left;
}
.u12993 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
.u12994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12994 {
  position:absolute;
  left:511px;
  top:40px;
  width:77px;
  height:40px;
  text-align:left;
}
.u12995 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
.u12996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u12996 {
  position:absolute;
  left:673px;
  top:40px;
  width:112px;
  height:40px;
  text-align:left;
}
.u12997 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
.u12998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(135, 184, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12998 {
  position:absolute;
  left:844px;
  top:45px;
  width:48px;
  height:30px;
}
.u12999 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
.u13000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u13000 {
  position:absolute;
  left:0px;
  top:80px;
  width:44px;
  height:40px;
}
.u13001 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
.u13002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u13002 {
  position:absolute;
  left:122px;
  top:80px;
  width:157px;
  height:40px;
  text-align:left;
}
.u13003 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
.u13004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u13004 {
  position:absolute;
  left:313px;
  top:80px;
  width:118px;
  height:40px;
  text-align:left;
}
.u13005 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
.u13006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u13006 {
  position:absolute;
  left:509px;
  top:80px;
  width:113px;
  height:40px;
  text-align:left;
}
.u13007 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
.u13008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u13008 {
  position:absolute;
  left:673px;
  top:80px;
  width:129px;
  height:40px;
  text-align:left;
}
.u13009 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
.u13010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(135, 184, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u13010 {
  position:absolute;
  left:844px;
  top:85px;
  width:48px;
  height:30px;
}
.u13011 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u12975-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:120px;
}
#u12975-2 {
  position:absolute;
  left:0px;
  top:120px;
  width:892px;
  height:120px;
}
#u12975-3 {
  position:absolute;
  left:0px;
  top:240px;
  width:892px;
  height:120px;
}
#u12975 {
  position:absolute;
  left:200px;
  top:266px;
  width:892px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:31px;
}
#u13012 {
  position:absolute;
  left:358px;
  top:679px;
  width:551px;
  height:31px;
}
#u13013 {
  position:absolute;
  left:2px;
  top:8px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
