body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u848 {
  position:absolute;
  left:22px;
  top:72px;
  width:120px;
  height:385px;
}
#u848_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u851 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u852 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u853 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u853_img.selected {
}
#u853.selected {
}
#u854 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u856 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u852_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u857 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u859 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u860 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u862 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u863 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u865 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u866 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u868 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u869 {
  position:absolute;
  left:0px;
  top:120px;
  width:93px;
  height:20px;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u870 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u870_img.selected {
}
#u870.selected {
}
#u871 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u873 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u869_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u876 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u877 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u879 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u880 {
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:20px;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u881 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u881_img.selected {
}
#u881.selected {
}
#u882 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u884 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u880_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u885 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u887 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u888 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u890 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u891 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u892 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u892_img.selected {
}
#u892.selected {
}
#u893 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u895 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u891_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u896 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u898 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u899 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u901 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u902 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u904 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u905 {
  position:absolute;
  left:20px;
  top:80px;
  width:95px;
  height:20px;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u907 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u908 {
  position:absolute;
  left:0px;
  top:340px;
  width:80px;
  height:20px;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u909 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u909_img.selected {
}
#u909.selected {
}
#u910 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u912 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u908_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u915 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u918 {
  position:absolute;
  left:2px;
  top:23px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
}
#u919 {
  position:absolute;
  left:0px;
  top:1px;
  width:173px;
  height:60px;
}
#u920 {
  position:absolute;
  left:2px;
  top:22px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u921 {
  position:absolute;
  left:838px;
  top:11px;
  width:62px;
  height:41px;
}
#u922 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u923 {
  position:absolute;
  left:909px;
  top:11px;
  width:62px;
  height:41px;
}
#u924 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u925 {
  position:absolute;
  left:1003px;
  top:11px;
  width:150px;
  height:41px;
}
#u926 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u927 {
  position:absolute;
  left:1153px;
  top:22px;
  width:19px;
  height:15px;
}
#u928 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u929 {
  position:absolute;
  left:954px;
  top:17px;
  width:17px;
  height:17px;
}
#u930 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u931 {
  position:absolute;
  left:882px;
  top:17px;
  width:17px;
  height:17px;
}
#u932 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
  background:inherit;
  background-color:rgba(77, 56, 105, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u933 {
  position:absolute;
  left:200px;
  top:72px;
  width:1000px;
  height:48px;
  color:#FFFFFF;
  text-align:left;
}
#u934 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u935 {
  position:absolute;
  left:200px;
  top:132px;
  width:19px;
  height:15px;
}
#u936 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u937 {
  position:absolute;
  left:228px;
  top:120px;
  width:240px;
  height:40px;
  text-align:left;
}
#u938 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:245px;
}
#u939 {
  position:absolute;
  left:228px;
  top:160px;
  width:122px;
  height:245px;
}
#u940 {
  position:absolute;
  left:2px;
  top:114px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:645px;
  top:179px;
  width:415px;
  height:226px;
}
#u943 {
  position:absolute;
  left:2px;
  top:105px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:left;
}
#u944 {
  position:absolute;
  left:646px;
  top:180px;
  width:412px;
  height:34px;
  color:#0099CC;
  text-align:left;
}
#u945 {
  position:absolute;
  left:2px;
  top:9px;
  width:408px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(135, 184, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:922px;
  top:182px;
  width:62px;
  height:28px;
}
#u947 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(209, 91, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:988px;
  top:182px;
  width:62px;
  height:28px;
}
#u949 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u950 {
  position:absolute;
  left:669px;
  top:232px;
  width:82px;
  height:40px;
  text-align:right;
}
#u951 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u952 {
  position:absolute;
  left:770px;
  top:232px;
  width:214px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u953 {
  position:absolute;
  left:2px;
  top:12px;
  width:210px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u954 {
  position:absolute;
  left:669px;
  top:292px;
  width:82px;
  height:40px;
  text-align:right;
}
#u955 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u956 {
  position:absolute;
  left:770px;
  top:292px;
  width:214px;
  height:90px;
  color:#666666;
  text-align:left;
}
#u957 {
  position:absolute;
  left:2px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u958 {
  position:absolute;
  left:350px;
  top:375px;
  visibility:hidden;
}
#u958_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  font-size:12px;
  text-align:left;
}
#u960 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u961 {
  position:absolute;
  left:0px;
  top:40px;
  width:82px;
  height:40px;
  font-size:12px;
  text-align:left;
}
#u962 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:239px;
  top:160px;
  width:111px;
  height:245px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u964 {
  position:absolute;
  left:323px;
  top:589px;
  width:661px;
  height:40px;
  color:#FF0000;
  text-align:left;
}
#u965 {
  position:absolute;
  left:2px;
  top:4px;
  width:657px;
  word-wrap:break-word;
}
